*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.mainbody{
    background-color: #FFCD9E;
    width: 100vw;
    height: 69vh;
    display: flex;
    justify-content: space-around;
}
.content{
   margin-top: 60px;
}
h1{
    width: 38vw;
    
}
p{
    width: 34vw;
    font-size: 16.5px;
    margin-top: 35px;
    opacity: 0.9;
}
h5{
    font-size: 15.5px;
    margin-top: 25px;

}
table{
    margin-top: 23px;
}
#email input{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: large;
    margin-left: -3px;
}
#button button{
    border: none;
    padding: 9px;
    background-color:#282828;
    color: white;
    border-radius: 4px;
    width: 10vw;
    cursor: pointer;
}
#bottom-para{
    color:#FFFFFF;
    margin-top: 24px;
    margin-left: 20px;
}
img{
    height: 66vh;
    width: 34vw;
}

.footer{
    height: 31vh;
    width: 100vw;
    background-color:#282828;
    display: flex;
    justify-content: space-around;
}
#pre1{
    margin-top: 30px !important;
    margin-left: -50px;  
}
a{
    font-family: 'Times New Roman', Times, serif ; 
    color:#FFFFFF;
    text-decoration: none;
    font-size: 16px;
    line-height: 30px;
}
#pre2{
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin-top: 30px;
    line-height: 30px;

}
.linkedin , .insta{
    height: 30px;
width: 50px;
}
.footer-right{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
@media screen and (min-width:320px) and (max-width:480px)
{

.images img{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;

}
.content{
   position: relative;
}  

h1{
    width: 90%;
    margin-left: 5%;
} 
p {
    width: 90%;
    font-size: 16.5px;
    margin-top: 35px;
    opacity: 0.9;
    margin-left: 5%;
}
h5{
    text-align: center;
}
#email input {
   font-size: 78%;
    margin-left: 5%;
    margin-top: -5px;
} 
table{
    width: 100vw;
}
#button button{
    width: 40vw;
    padding: 7px;
    margin-top: -10px;
    
}
#bottom-para{
    display: none;
}
#pre1{
    margin-top: 30px !important;
    
}
#pre2{
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    margin-top: 30px;
    line-height: 20px;
    


}

a{
    font-family: 'Times New Roman', Times, serif ; 
    color:#FFFFFF;
    text-decoration: none;
    font-size: 10px;
    line-height: 20px;
    margin-left: 40%;
    margin-bottom: -14px;
}
#pre2 a:nth-child(5){
    margin-bottom:-50px;
}
.linkedin , .insta{
    height: 24px;
    width: 23px;

}

.footer-right{
    display: flex;
    flex-direction: row;
   justify-content: start;
    width: 88px;
}
}    

